@import "../../theme.scss";

.border {
  border: 1px solid red;
}

.header {
  background-color: $color-primary;
  padding: 1rem 0;
}

.header.scrolled {
  filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.25));
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--logo {
    margin-bottom: -10px;
  }

  &--links {
    display: none;
    gap: 1.75rem;
  }

  &--link-item {
    list-style-type: none;

    & a {
      text-decoration: none;
      font-weight: 300;
      color: $color-text-header;
      transition: font-weight 250ms ease-in;
      font-size: 1.3rem;

      &:hover {
        font-weight: bold;
      }
    }

    & a.current {
      font-weight: bold;
    }
  }

  &--mobile-menu-toggle path {
    fill: rgba(0, 0, 0, 0.75);
    transition: fill 250ms ease-in;
  }

  &--mobile-menu-toggle:hover path,
  &--mobile-menu-toggle:focus path,
  &--mobile-menu-toggle:active path {
    fill: $color-text-header;
  }

  &--mobile-menu-toggle__container {
    cursor: pointer;
  }
}

.mobile {
  &--overlay {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 250ms ease-in;
  }
  &--overlay.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }
  &--drawer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: $color-primary;
    transform: translateX(100%);
    transition: transform 250ms ease-in;

    padding: 4rem 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  &--drawer.active {
    transform: translateX(0);
  }

  &--drawer .nav--links {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
}

.nav-container {
  max-width: unset;
}

@media only screen and (max-width: 400px) {
  .mobile--drawer {
    width: 260px;
  }
}

@media only screen and (min-width: 800px) {
  .header {
    padding: 3rem 0;
    position: relative;
  }
  .nav {
    justify-content: center;

    &--mobile-menu-toggle__container {
      display: none;
    }

    &--logo__container {
      position: absolute;
      left: 1.5rem;
      top: 30%;
    }

    &--links {
      display: flex;
    }
  }

  .mobile {
    &--overlay,
    &--drawer {
      display: none;
    }
  }
}
