@import "../../theme.scss";

.footer {
  background-color: $color-primary;
  padding: 1.25rem 0;
  text-align: center;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--header {
    color: $color-text-header;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &--links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin: 1rem 0;
    width: min-content;
    padding: 0.5rem 0.8rem;
    background-color: $color-primary-swatch;
    border-radius: 1.429rem;
  }

  &--link-item {
    list-style-type: none;

    &__logo-container svg {
      height: 20px;
      width: 20px;
    }

    &__logo-container {
      cursor: pointer;
    }

    &__logo-container path {
      transition: fill 250ms ease-in;
    }
    &__logo-container:hover path,
    &__logo-container:focus path,
    &__logo-container:active path,
    &__logo-container:focus-within path {
      fill: black;
    }
  }

  &--copyright-text {
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 500;
    color: $color-text-header;
  }
}

@media only screen and (min-width: 800px) {
  .footer--link-item__logo-container svg {
    height: 35px;
    width: 35px;
  }
}
